# Python backend
api/venv/
/__pycache__/
api/.env
api/instance/
*.swp

# Node frontend
client/node_modules/
client/dist/

# System files
.DS_Store

# Database (optional if you don't want to upload local test DB)
server/broke_bites.db

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# VS Code
.vscode/
*.code-workspace

# Node
node_modules/
dist/
build/

# Misc
.DS_Store
*.log 